<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="initial__loading"></div>
<div class="cui__layout cui__layout--hasSider">
    <app-sidebar [modulos]="modulos"></app-sidebar>
    <div class="cui__layout">
        <app-header></app-header>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>