<modal-body>
    <div title>Asignar servicio</div>
    <div body>
        <div class="col-12">
            <input class="form-control">
            <p>Servicios Asignados / Disponibles </p>
            <div class="my-4">
                <label class="kit__utils__control kit__utils__control__checkbox"
                    *ngFor="let item of serviciosListado; let i = index">
                    <input type="checkbox" (change)="changeValue($event, i)"
                        [checked]="item.checked">
                    <span class="kit__utils__control__indicator"></span>
                    {{item.Nombre}}
                </label>
            </div>
            <!-- <mat-divider></mat-divider>
            <p>Servicios Disponibles</p>
            <div class="my-4">
                <label class="kit__utils__control kit__utils__control__checkbox"
                    *ngFor="let item of serviciosDisponibles; let i = index">
                    <input type="checkbox" (change)="changeValue($event, i)"
                        [checked]="item.checked">
                    <span class="kit__utils__control__indicator"></span>
                    {{item.Nombre}}
                </label>
            </div> -->
        </div>
    </div>
    <button action-button class="btn btn-primary" mat-flat-button (click)="actualizarDetalle()">Guardar</button>
</modal-body>