<nz-table *ngIf="listaHorarios" #basicTable [nzData]="listaHorarios">
    <thead>
        <tr>
            <th>Trabajor</th>
            <th nzAlign="center" *ngFor="let dataDias of basicTable.data">{{dataDias.Dia}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Trabajador 1</td>
            <td *ngFor="let data of basicTable.data">
                <div style="display: flex; justify-content: center;" *ngFor="let data2 of data.Turnos">
                    <button class="btn btn-outline-primary" mat-flat-button (click)="horarioClick(data)">{{ data2.HoraInicio|date:
            "HH:mm" }} - {{ data2.HoraFin|date: "HH:mm" }}</button>

                    <!-- <div>{{ data2.HoraInicio|date: "HH:mm" }} - {{ data2.HoraFin|date: "HH:mm" }}</div> -->
                </div>
                <div style="display: flex; justify-content: center;">
                    <button class="btn btn-success" matTooltip="AgregarHorario" (click)="agregarHorario()">
            <i-feather class="btn-icon" name="plus"></i-feather>
          </button>

                </div>
                <!-- <div>{{ data.Turnos[0]|json }}</div> -->
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-table *ngIf="listaHorariosAll" #basicTable [nzData]="listaHorariosAll">
    <thead>
        <tr>
            <th>Trabajor</th>
            <th nzAlign="center">LUNES</th>
            <th nzAlign="center">MARTES</th>
            <th nzAlign="center">MIERCOLES</th>
            <th nzAlign="center">JUEVES</th>
            <th nzAlign="center">VIERNES</th>
            <th nzAlign="center">SABADO</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data3 of listaHorariosAll">
            <td>{{data3.Nombres|uppercase}}</td>
            <td *ngFor="let data4 of data3.usuarioHorario.Horario">
                <div *ngIf="data4.Turnos">
                    <div style="display: flex; justify-content: center;" *ngFor="let data5 of data4.Turnos">
                        <button class="btn btn-outline-primary" mat-flat-button (click)="horarioClick(data3,data5,data4)">{{
              data5.HoraInicio|date:
              "HH:mm" }} - {{ data5.HoraFin|date: "HH:mm" }}</button>

                        <!-- <div>{{ data2.HoraInicio|date: "HH:mm" }} - {{ data2.HoraFin|date: "HH:mm" }}</div> -->
                    </div>


                </div>


                <div style="display: flex; justify-content: center;">
                    <button class="btn btn-success" matTooltip="AgregarHorario" (click)="horarioClick(data3,data5,data4)">
            <i-feather class="btn-icon" name="plus"></i-feather>
          </button>

                </div>

                <!-- <div>{{ data.Turnos[0]|json }}</div> -->
            </td>
        </tr>
    </tbody>
</nz-table>

<!-- {{listaHorariosAll|json}} -->