<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid border-bottom mb-5">
    <div class="row text-dark">
        <div class="p-2 border-right">
            <img class="img-thumbnail" src="assets/images/logo.png" style="width: 40px; height: 40px;" />
            <span class="mb-5 px-3 font-size-18 ">Katia Spa</span>
        </div>
        <div class="col my-auto">
            Web Admin
        </div>
    </div>
</div>
<div class="container" style="height: calc(100vh - 110px)">
    <div class="h-75 d-flex">
        <div class="card col-md-4 m-auto">
            <div class="my-3 text-center">
                <h1 class="text-dark font-size-24 mb-3"><b>Bienvenido a Katia Spa</b></h1>
                <strong>Ingrese sus credenciales</strong>
            </div>
            <div>
                <form [formGroup]="formGroup" (ngSubmit)="authUser()">
                    <input type="text" placeholder="Usuario" formControlName="usename" class="form-control">
                    <br>
                    <input type="password" placeholder="Contraseña" formControlName="password" class="form-control">
                    <br>
                    <a href="">¿Olvidó su contraseña?</a>
                    <br>
                    <button mat-flat-button color="primary" type="submit" class="btn-block mb-5 mt-2"
                        [disabled]="formGroup.invalid || formGroup.disabled">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>