<modal-body>
    <div title>Seleccionar Servicio</div>
    <div body>
        <div class="col-12">
            <input class="form-control">
            <div class="my-4">
                <label class="kit__utils__control kit__utils__control__checkbox"
                    *ngFor="let item of serviciosArr; let i = index">
                    <input type="checkbox" (change)="changeValue($event, i)"
                        [checked]="item.checked">
                    <span class="kit__utils__control__indicator"></span>
                    {{item.nombre}}
                </label>
            </div>
        </div>
    </div>
    <button action-button class="btn btn-primary" mat-flat-button (click)="updateService()">Guardar</button>
</modal-body>