<div class="card p-4">
    <h3>Buscar Servicios por:</h3>
    
    <form class="form-row my-1 align-items-center" [formGroup]="filtrosForm">
        <div class="form-group col-md-3 my-3">
            <h3 class="text-dark mb-3 font-weight-bold">Categoria de Servicios</h3>
            <select class="form-control" formControlName="categoria" aria-placeholder="Seleccione una opción">
                <option value="">Seleccionar una categoria</option>
                <option *ngFor="let item of categoriasArr"
                        [value]="item.CategoriaServicioID"> {{item.Descripcion}} </option>
            </select>
        </div>
        <div class="form-group col-md-3 my-3">
            <h3 class="text-dark mb-3 font-weight-bold">Servicio Activo</h3>
            <select class="form-control" formControlName="isActivo" aria-placeholder="Seleccione una opción">
                <option value="">Seleccionar un servicio</option>
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
            </select>
        </div>
        <div class="form-group col-md-3 my-3">
            <h3 class="text-dark mb-3 font-weight-bold">Género</h3>
            <select class="form-control" formControlName="genero" aria-placeholder="Todos">
                <option value="" disabled="true">Seleccionar un género</option>
                <option value="2">Masculino/Femenino</option>
                <option value="0">Femenino</option>
                <option value="1">Masculino</option>
            </select>
        </div>
        <div class="form-group col-md-3 my-3 text-center">
            <button class="btn btn-primary mr-2" mat-flat-button [disabled]="filtrosForm.invalid" (click)="buscarServicios()">Buscar</button>
            <button class="btn btn-primary" mat-flat-button (click)="agregarServicio()">Agregar Servicio</button>
        </div>
    </form>

    <div class="text-center">
        <ng-container *ngIf="serviciosArr.length > 0; else noData">
            <table mat-table [dataSource]="serviciosArr" class="mat-elevation-z8" style="width: 100%">
                <ng-container matColumnDef="ServicioNombre">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="CategoriaNombre">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Categoría</th>
                    <td mat-cell *matCellDef="let element"> {{element?.CategoriaServicio?.Descripcion}} </td>
                </ng-container>
                <ng-container matColumnDef="ServicioPrecio">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Precio</th>
                    <td mat-cell *matCellDef="let element"> {{element?.DetalleServicio?.Precio | currency: 'S/ '}} </td>
                </ng-container>
                <ng-container matColumnDef="ServicioDuracion">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Duración</th>
                    <td mat-cell *matCellDef="let element"> {{element?.DetalleServicio?.Duracion + ' min.'}} </td>
                </ng-container>
                <ng-container matColumnDef="Genero">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Género</th>
                    <td mat-cell *matCellDef="let element"> {{element?.DetalleServicio?.Genero === "0" ? 'Mujer' :
                        (item?.DetalleServicio?.Genero === "1" ? 'Hombre' : 'Ambos')}} </td>
                </ng-container>
                <ng-container matColumnDef="Acción">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Acción</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-primary mr-3" (click)="agregarServicio(element.ServicioID)">
                            <i-feather class="btn-icon" name="edit"></i-feather>
                        </button>
                        <button class="btn btn-danger mr-3" (click)="eliminarServicio(element.ServicioID)" *ngIf="element.PuedeEliminar">
                            <i-feather class="btn-icon" name="trash"></i-feather>
                        </button>
                        <button class="btn btn-info mr-3" (click)="verDetalleServicio(element.ServicioID)">
                            <i-feather class="btn-icon" name="info"></i-feather>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="totalRecords" [pageSize]="paginatorPageSize" (page)="paginado($event)"></mat-paginator>
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Duración</th>
                        <th scope="col">Género</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of serviciosArr">
                        <td>{{item.Nombre}}</td>
                        <td>{{item?.CategoriaServicio?.Descripcion}}</td>
                        <td>{{item?.DetalleServicio?.Precio | currency: 'S/ '}}</td>
                        <td>{{item?.DetalleServicio?.Duracion + ' min.'}}</td>
                        <td>{{item?.DetalleServicio?.Genero === "0" ? 'Ambos' :
                             (item?.DetalleServicio?.Genero === "1" ? 'Hombre' : 'Mujer') }}</td>
                        <td>
                            <button class="btn btn-primary mr-3" (click)="agregarServicio(item.ServicioID)">
                                <i-feather class="btn-icon" name="edit"></i-feather>
                            </button>
                            <button class="btn btn-danger mr-3" (click)="eliminarServicio(item.ServicioID)" *ngIf="item.PuedeEliminar">
                                <i-feather class="btn-icon" name="trash"></i-feather>
                            </button>
                            <button class="btn btn-info mr-3" (click)="verDetalleServicio(item.ServicioID)">
                                <i-feather class="btn-icon" name="info"></i-feather>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between align-items-center" *ngIf="categoriasArr && categoriasArr.length > 0">
                <span>1 a 6 de 6 registros</span>
                <nav>
                    <ul class="d-inline-flex p-0 m-0">
                        <li class="border p-2">
                            <a>Previous</a>
                        </li>
                        <li class="border p-2"><a>1</a></li>
                        <li class="border p-2">2</li>
                        <li class="border p-2">3</li>
                        <li class="border p-2">
                            <a>Next</a>
                        </li>
                    </ul>
                </nav>
            </div> -->
        </ng-container>
        <ng-template #noData>
            <img src="assets/images/no_data.svg" class="img-fluid my-5">
        </ng-template>
    </div>
</div>