<nz-drawer [nzClosable]="false" [nzVisible]="true" nzPlacement="right" [nzTitle]="labelDevolucion" [nzWidth]="500"
    (nzOnClose)="close()">
    <form [formGroup]="formularioGroup" class="mx-4">
       
        <div class="form-group">
            <!-- <h3>{{}}</h3> -->
            <nz-input-number  [nzStep]="1" formControlName="monto"
                [nzFormatter]="formatterSoles" [nzParser]="parserSoles" [disabled]="buttonDisabled" (ngModelChange)="changeMonto($event)"></nz-input-number>
            </div>
            <span>Monto maximo: {{data.MontoServicio}}</span>
            <div class="form-group">
                <p *ngIf="importe!=0"><b>(*)IMPORTE DEVOLUCION TOTAL: {{importe}}</b></p>
                <p *ngIf="montoIgv!=0"><b>(*)IGV DEVOLUCION: {{montoIgv}}</b></p>
            </div>
            <br>
        <div class="form-group">
            <h3>Comentario</h3>
            <textarea formControlName="comentario" class="form-control" [disabled]="buttonDisabled"></textarea>
        </div>
        <div class="row">
            <button class="btn btn-primary mr-3" (click)="registrarDevolucion()" [disabled]="buttonDisabled">Registrar Devolucion
                <i-feather class="btn-icon" name="dollar-sign"></i-feather>
            </button>
            <button class="btn btn-danger mr-3" (click)="close()">Cancelar
                <i-feather class="btn-icon" name="x"></i-feather>
            </button>
        </div>

    </form>
</nz-drawer>