<ng-container *ngIf="encuestaResult">
    <app-cabecera-encuesta [titulo]="encuestaResult.Titulo"
        [fechaRango]="[encuestaResult.FechaInicio, encuestaResult.FechaFin]"
        [fechaRegistro]="encuestaResult.FechaRegistro"></app-cabecera-encuesta>

    <div class="card" *ngFor="let item of encuestaResult.PreguntasRespondidas">
        <div class="m-4 d-flex flex-wrap justify-content-sm-between">
            <div class="col-md-5">
                <h2>Pregunta</h2>
                <input type="text" placeholder="Formule una pregunta" [value]="item.Pregunta" disabled>
            </div>
            <div class="col-md-5">
                <h2>Tipo</h2>
                <select placeholder="Formule una pregunta" class="form-control" [value]="item.Tipo" disabled>
                    <option value="1">Comentario</option>
                    <option value="2">Ooción Única</option>
                    <option value="3">Opción Multiple</option>
                </select>
            </div>
        </div>
        <app-respuesta-encuesta [respuestaArr]="item.RespuestaRespondida" [tipo]="item.Tipo"></app-respuesta-encuesta>
    </div>
</ng-container>