<modal-body [disabledClose]="formularioGroup.disabled">
    <div title>Agregar servicio</div>
    <form body [formGroup]="formularioGroup" class="mx-4">
        <div class="form-group">
            <h3>Nombre del Servicio</h3>
            <input placeholder="Nombre" formControlName="nombre" class="form-control">
        </div>
        <div class="form-group">
            <h3>Descripción</h3>
            <textarea placeholder="Descripción" formControlName="descripcion" class="form-control">
            </textarea>
        </div>
        <div class="form-group">
            <h3>Foto</h3>
            <file-input (emitFotos)="addFotos($event)"></file-input>
        </div>
        <div class="form-group">
            <h3>Precio</h3>
            <input placeholder="Precio" formControlName="precio" class="form-control" onlyNumbers type="text"(ngModelChange)="changeMonto($event)" >
            <!-- <p *ngIf="importe!=0"><b>(*)IMPORTE TOTAL: {{importe}}</b></p>
            <p *ngIf="montoIgv!=0"><b>(*)IGV: {{montoIgv}}</b></p>
            <p *ngIf="total!=0">{{total}}</p> -->
        </div>
        <div class="form-group">
            <p *ngIf="importe!=0"><b>(*) IMPORTE TOTAL: {{importe}}</b></p>
            <p *ngIf="montoIgv!=0"><b>(*) IGV: {{montoIgv}}</b></p>
            <!-- <p *ngIf="total!=0">{{total}}</p> -->
        </div>
        <div class="form-group">
            <h3>Duración</h3>
            <input placeholder="Duración en Minutos" formControlName="duracion" class="form-control" onlyNumbers
                type="text">
        </div>
        <div class="form-group">
            <h3>Servicio Disponible para</h3>
            <select formControlName="servicio" class="form-control">
                <option value="2">Todos</option>
                <option value="1">Hombres</option>
                <option value="0">Mujeres</option>
            </select>
        </div>
        <div class="form-group">
            <h3>Días de Descanso</h3>
            <input placeholder="Tiempo de Descanso en Días" formControlName="descanso" class="form-control" onlyNumbers
                type="text">
        </div>
        <div class="form-group">
            <h3>Nro de Sesiones Aprox</h3>
            <input placeholder="Nro. Sesiones" formControlName="sesiones" class="form-control" onlyNumbers type="text">
        </div>
        <div class="form-group">
            <h3>Categoría de Servicio</h3>
            <select formControlName="categoria" class="form-control">
                <option value="">Seleccione una Opción</option>
                <option [value]="item.CategoriaServicioID" *ngFor="let item of categoriasArr">{{item.Descripcion}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <h3>Servicio Activo</h3>
            <nz-radio-group formControlName="isActive" style="gap: 20px; display: flex;">
                <label nz-radio nzValue="1">Si</label>
                <label nz-radio nzValue="0">No</label>
            </nz-radio-group>
        </div>
        <!-- <div class="form-group">
            <h3>Cuotas</h3>
            <nz-radio-group formControlName="isCuota" style="gap: 20px; display: flex;">
                <label nz-radio nzValue="1" nz-radio>Si</label>
                <label nz-radio nzValue="0" nz-radio>No</label>
            </nz-radio-group>
        </div> -->
    </form>
    <button action-button class="btn btn-primary" mat-flat-button
        [disabled]="formularioGroup.invalid || formularioGroup.disabled" (click)="registrarProducto()">
        Guardar
    </button>
</modal-body>