<modal-body>
    <div title>Agregar consultorio</div>
    <form body [formGroup]="formularioGroup" class="form-group mx-4">
        <div class="form-group">
            <h2>Numero de consultorio</h2>
            <input placeholder="Nro. de consultorio" formControlName="nConsultorio" class="form-control" onlyNumbers maxlength="2">
        </div>
    </form>
    <button action-button class="btn btn-primary" mat-flat-button [disabled]="formularioGroup.invalid || formularioGroup.disabled" (click)="registrarconsultorio()">Guardar</button>
</modal-body>