<div class="card p-4">

    <h3>Buscar Clientes por: </h3>

    <form class="form-row my-1 align-items-center" [formGroup]="clientesForm">


        <!-- Genero -->
        <div class="form-group col-md-3 my-3">
            <h3 class="text-dark mb-3 font-weight-bold">Seleccionar Género</h3>
            <select class="form-control" formControlName="genero" aria-placeholder="Seleccione una opción">
                <option value="" disabled="true">Seleccionar un Género</option>
                <!-- <option value="">Todos</option> -->
                <option value=false>Femenino</option>
                <option value=true>Masculino</option>
            </select>
        </div>

        <!-- Apellidos -->
        <div class="form-group col-md-3 my-3">
            <h3 class="text-dark mb-3 font-weight-bold">Ingresar Apellidos</h3>
            <input placeholder="Apellidos" formControlName="apellidos" class="form-control">
        </div>

        <!-- Nombres -->
        <div class="form-group col-md-3 my-3">
            <h3 class="text-dark mb-3 font-weight-bold">Ingresar Nombres</h3>
            <input placeholder="Nombres" formControlName="nombres" class="form-control">
        </div>

        <!-- <div class="col-md-3">
            <h2>Fecha de Encuesta</h2>
            <nz-range-picker formControlName="fecha" (nzOnCalendarChange)="changeRangePicker($event)"></nz-range-picker>
        </div> -->

        <!-- Opciones -->
        <div class="form-group col-md-12 my-3 text-right">
            <button class="btn btn-primary mr-2" mat-flat-button (click)="buscarCliente()">Buscar</button>
            <button class="btn btn-primary mr-2" mat-flat-button (click)="limpiarFiltro()">Limpiar Filtros</button>
            <button class="btn btn-primary" mat-flat-button (click)="agregarCliente()">Agregar Cliente
                <span  nzType="user-add" nzTheme="outline"><i-feather name="user-plus"
                        style="width: 19px;"></i-feather></span>
            </button>
        </div>
    </form>

    <div >
        <ng-container *ngIf="clientesArr.length > 0; else noData">
            <table mat-table [dataSource]="clientesArr" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="Nombres">
                    <th mat-header-cell *matHeaderCellDef> Nombres </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombres}} </td>
                </ng-container>
                <ng-container matColumnDef="Apellidos">
                    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                    <td mat-cell *matCellDef="let element"> {{element.Apellidos}} </td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let element"> {{element.Correo}} </td>
                </ng-container>
                <ng-container matColumnDef="Genero">
                    <th mat-header-cell *matHeaderCellDef> Genero </th>
                    <td mat-cell *matCellDef="let element"> {{element.Genero === true ? 'Masculino' : (element.Genero === false ? 'Femenino' : 'xd') }} </td>
                </ng-container>
                <ng-container matColumnDef="Fecha Registro">
                    <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
                    <td mat-cell *matCellDef="let element"> {{element.FechaRegistro |date:'dd/MM/yyyy hh:mm'}} </td>
                </ng-container>
                <ng-container matColumnDef="Acción">
                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-primary mr-3">
                            <i-feather class="btn-icon" name="eye" (click)="listarClientexID(element.ClienteID)">
                            </i-feather>
                        </button>
                    </td>
                </ng-container>
                <!-- <thead>
                    <tr>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of clientesArr">
                        <td>{{ item.Nombres }}</td>
                        <td>{{ item.Apellidos }}</td>
                        <td>{{ item.Correo }}</td>
                        <td>{{ item.Genero === true ? 'Masculino' : (item.Genero === false ? 'Femenino' : 'xd') }}</td>
                        <td>{{ item.FechaRegistro |date:'dd/MM/yyyy hh:mm' }}</td>
                        <td>
                            <button class="btn btn-primary mr-3">
                                <i-feather class="btn-icon" name="eye" (click)="listarClientexID(item.ClienteID)">
                                </i-feather>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <mat-paginator [length]="paginatorLength" [pageSize]=paginatorPageSize
                    [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
                </mat-paginator> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="paginatorTotalRecords" [pageSize]="paginatorPageSize" (page)="dev($event)"></mat-paginator>
        </ng-container>
        <ng-template #noData>
            <img src="assets/images/no_data.svg" class="img-fluid my-5 w-45">
        </ng-template>
    </div>
</div>