@import 'src/assets/scss/mixins.scss';;

.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.headItem {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.headIcon {
  width: rem(50);
  height: rem(50);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;

  i {
    vertical-align: middle;
    line-height: rem(50);
  }
}

.table {
  white-space: nowrap !important;
  ::ng-deep .ant-table-body {
    overflow-x: auto !important;
  }
}
