<modal-body>
    <div title>Detalle de Cita Nro. <b>{{data.citaID}}</b></div>
    <form body [formGroup]="formularioGroup" class="mx-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Número de Sesion</th>
                    <th>F. Reserva</th>
                    <th>F. Disponible</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                    <!-- <th>Continuar T.</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaSesiones">
                    <td>{{item.NSesion}}</td>
                    <td>
                        <div  *ngIf="item.Estado != '6'">
                            {{item.FechaHora|date:'dd/MM/yyyy - h:mm a'}}
                        </div>
                        <div  *ngIf="item.Estado == '6'">
                            Sin fecha de asignacion
                        </div>
                    </td>
                    <td>{{item.FechaDisponible|date:'dd/MM/yyyy'}}</td>
                    <td>
                        <div *ngIf="item.Estado == '1'">
                            <nz-tag [nzColor]="'#FF0000'">Reservado</nz-tag>
                        </div>
                        <div *ngIf="item.Estado == '2'">
                            <nz-tag [nzColor]="'#649B8F'">En Proceso</nz-tag>
                        </div>
                        <div *ngIf="item.Estado == '3'">
                            <nz-tag [nzColor]="'#21AB38'">Realizado</nz-tag>
                        </div>
                        <div *ngIf="item.Estado == '4'">
                            <nz-tag [nzColor]="'default'">Reprogramado</nz-tag>
                        </div>
                        <div *ngIf="item.Estado == '5'">
                            <nz-tag [nzColor]="'#649B8F'">Cliente no asistido</nz-tag>
                        </div>
                        <div *ngIf="item.Estado == '6'">
                            <nz-tag [nzColor]="'#649B8F'">En espera de asignación</nz-tag>
                        </div>
                        <div *ngIf="item.Estado == '7'">
                            <nz-tag [nzColor]="'#007CFF'">Cancelado</nz-tag>
                        </div>
                        <div *ngIf="item.Estado == '8'">
                            <nz-tag [nzColor]="'default'">Reprogramado por Negocio</nz-tag>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <!-- <div class="col-md-auto">
                                <div *ngIf="item.IsReprogramable && (item.EstadoString=='En Espera' || item.EstadoString=='Cliente no asistido'|| item.EstadoString == 'Reservado')">
                                    <button class="btn btn-primary mr-3" matTooltip="Reprogramar Sesion" (click)="reprogramarSes(item)">
                                        <i-feather class="btn-icon" name="refresh- ccw"></i-feather>
                                    </button>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-auto">
                                <div *ngIf="item.IsReprogramable 
                                && item.NSesion!=data.sesionTotal 
                                && (item.EstadoString=='Realizado' || item.EstadoString=='Cliente no asistido' || item.EstadoString=='Reprogramado por Negocio' || item.EstadoString=='Reprogramado' || item.EstadoString=='Cancelado')">
                                    <button class="btn btn-primary mr-3" matTooltip="Generar siguiente sesion" nz-popconfirm nzPopconfirmTitle="Está seguro que desea continuar con la siguiente sesión?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmarSigSesion()" (nzOnCancel)="cancelSigSesion()">
                                        <i-feather class="btn-icon" name="arrow-right-circle"></i-feather>
                                    </button>
                                </div>
                            </div> -->
                            <!-- VALIDACION DE ESTADO Y ACCIONES -->
                            <div class="col-md-auto" *ngIf="item.IsReprogramable">
                                <div *ngIf="item.Estado =='1'">
                                    <!-- Se puede EnProceso - Cancelado - Reprogramado - ClienteNoAsistido -->
                                    <button (click)="cambiarEstadoCita(item,'2')" class="btn btn-success mr-3" matTooltip="En Proceso">
                                        <i-feather class="btn-icon" name="loader"></i-feather>
                                    </button>
                                    <button (click)="reprogramarSes(item)" class="btn btn-success mr-3" matTooltip="Reprogramar Sesion">
                                        <i-feather class="btn-icon" name="check"></i-feather>
                                    </button>
                                    <button (click)="cambiarEstadoCita(item,'5')" class="btn btn-warning mr-3" matTooltip="Cliente No Asistio">
                                        <i-feather class="btn-icon" name="user-x"></i-feather>
                                    </button>
                                    <button  class="btn btn-danger mr-3" matTooltip="Cancelado" nz-popconfirm nzPopconfirmTitle="Está seguro que desea cancelar la Cita?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="cancelarCita(item)">
                                        <i-feather class="btn-icon" name="slash"></i-feather>
                                    </button>
                                </div>
                                <div *ngIf="item.Estado =='2'">
                                    <!-- Se puede EnProceso - Cancelado - Reprogramado - ClienteNoAsistido -->
                                    <button (click)="cambiarEstadoCita(item,'3')" class="btn btn-success mr-3" matTooltip="Finalizado">
                                        <i-feather class="btn-icon" name="check"></i-feather>
                                    </button>
                                </div>
                                <div *ngIf="item.Estado =='3'">
                                    <!-- Se puede EnProceso - Cancelado - Reprogramado - ClienteNoAsistido -->
                                    <!-- <button (click)="cambiarEstadoCita(item,'6')" class="btn btn-success mr-3" matTooltip="En Espera de Asingacion">
                                        <i-feather class="btn-icon" name="check"></i-feather>
                                    </button> -->
                                    <button class="btn btn-primary mr-3" matTooltip="Generar siguiente sesion" nz-popconfirm nzPopconfirmTitle="Está seguro que desea continuar con la siguiente sesión?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmarSigSesion(item)" (nzOnCancel)="cancelSigSesion()">
                                        <i-feather class="btn-icon" name="arrow-right-circle"></i-feather>
                                    </button>
                                </div>
                                <div *ngIf="item.Estado =='6'">
                                    <!-- Se puede EnProceso - Cancelado - Reprogramado - ClienteNoAsistido -->
                                    <!-- <button (click)="reprogramarSes(item)" class="btn btn-success mr-3" matTooltip="Programar Sesion">
                                        <i-feather class="btn-icon" name="check"></i-feather>
                                    </button> -->
                                    <button class="btn btn-primary mr-3" matTooltip="Programar sesion" nz-popconfirm nzPopconfirmTitle="Está seguro que desea programar la sesion?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmarProgramacionSesion(item)" (nzOnCancel)="cancelProgramacionSesion()">
                                        <i-feather class="btn-icon" name="arrow-right-circle"></i-feather>
                                    </button>
                                    <button  class="btn btn-danger mr-3" matTooltip="Cancelado" nz-popconfirm nzPopconfirmTitle="Está seguro que desea cancelar la Cita?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="cancelarCita(item)">
                                        <i-feather class="btn-icon" name="slash"></i-feather>
                                    </button>
                                </div>
                                <div *ngIf="item.Estado =='5'">
                                    <!-- Se puede EnProceso - Cancelado - Reprogramado - ClienteNoAsistido -->
                                    <button (click)="reprogramarSes(item)" class="btn btn-light mr-3" matTooltip="Reprogramar Sesion">
                                        <i-feather class="btn-icon" name="refresh-ccw"></i-feather>
                                    </button>
                                    <button (click)="cambiarEstadoCita(item,'3')" class="btn btn-success mr-3" matTooltip="Finalizado">
                                        <i-feather class="btn-icon" name="check"></i-feather>
                                    </button>
                                    <button class="btn btn-primary mr-3" matTooltip="Generar siguiente sesion" nz-popconfirm nzPopconfirmTitle="Está seguro que desea continuar con la siguiente sesión?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmarSigSesion(item)" (nzOnCancel)="cancelSigSesion()">
                                        <i-feather class="btn-icon" name="arrow-right-circle"></i-feather>
                                    </button>
                                    <button  class="btn btn-danger mr-3" matTooltip="Cancelado" nz-popconfirm nzPopconfirmTitle="Está seguro que desea cancelar la Cita?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="cancelarCita(item)">
                                        <i-feather class="btn-icon" name="slash"></i-feather>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- <div *ngIf="item.IsReprogramable">
                            <button class="btn btn-primary mr-3" matTooltip="Reprogramar Sesion" (click)="reprogramarSes(item)">
                                <i-feather class="btn-icon" name="refresh-ccw"></i-feather>
                            </button>
                        </div> -->
                        <div>

                        </div>
                    </td>
                    <!-- <td>
                        <div *ngIf="item.IsReprogramable">
                            <button class="btn btn-primary mr-3" matTooltip="Generar siguiente sesion" nz-popconfirm nzPopconfirmTitle="Está seguro que desea continuar con la siguiente sesión?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmarSigSesion()" (nzOnCancel)="cancelSigSesion()">
                                <i-feather class="btn-icon" name="arrow-right-circle"></i-feather>
                            </button>
                        </div>
                        <div>

                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <!-- <div class="container" *ngIf="agregarPenalidad">
            <p>Se agregará una penalidad a la sesión {{sesionSelected}}</p>
            <div class="row">
                <div style="font-size: 16px;" class="col-sm-3">
                    Monto de Penalidad:
                </div>
                <div class="col-sm-4">
                    <nz-input-group nzAddOnBefore="S./" nzAddOnAfter=".00">
                        <input type="number" formControlName="monto" step="1" min="0" required="true" />
                    </nz-input-group>
                    <ng-container *ngIf="formularioGroup.get('monto').dirty">
                        <mat-error *ngIf="formularioGroup.get('monto').hasError('required')">Monto mayor a 0 sin decimales</mat-error>
                    </ng-container>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" (click)="registrarPenalidad()">Aceptar</button>
                </div>
                <br>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger" (click)="ocultarPenalidad()" [disabled]="false">Rechazar</button>
                </div>
                <br>
                <div class="row justify-content-md-center">
                </div>
            </div>
        </div> -->

        <div class="container" *ngIf="reprogramarSesion">
            <hr><br>
            <p>Se reprogramara la sesión {{sesionNroSelected}}</p>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Cliente :
                </div>
                <div class="col">
                    <input nz-input formControlName="nombreCliente" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Servicio :
                </div>
                <div class="col">
                    <input nz-input formControlName="nombreServicio" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Especialista :
                </div>
                <div class="col">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="trabajador">
                        <nz-option *ngFor="let item of listaTrabajadores" nzLabel="{{item.Nombres}} {{item.Apellidos}}" nzValue="{{item.UsuarioID}}"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Fecha :
                </div>
                <div class="col">
                    <nz-date-picker [nzDisabledDate]="disabledDate" formControlName="fechaSelected" (ngModelChange)="onChange($event)"></nz-date-picker>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Rango Horario :
                </div>
                <div class="col">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Hora Inicio" formControlName="horaInicio" (ngModelChange)="horaInicioChange($event)">
                        <nz-option *ngFor="let item of listaHorarioInicio" nzLabel="{{item.value}}" nzValue="{{item.id}}" nzDisabled="{{item.disabled}}"></nz-option>
                    </nz-select>
                </div>
                <div class="col">
                    <input nz-input formControlName="horaFin" nzPlaceHolder="Hora Fin" />
                    <!-- <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Hora Fin" formControlName="horaFin" [(ngModel)]="selectedHoraFin">
                        <nz-option *ngFor="let item of listaHorarioInicio" nzLabel="{{item.value}}" nzValue="{{item.value}}" nzDisabled="!{{item.disabled}}"></nz-option>
                    </nz-select> -->
                </div>
                <div class="col">
                    <button nz-button nzType="primary" [disabled]="reprogramado" (click)="reproSesion()">Reprogramar</button>
                </div>
            </div>
        </div>

        <div class="container" *ngIf="sigSesion">
            <hr><br>
            <p>Se generará la {{sesionNroSelected}}</p>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Cliente :
                </div>
                <div class="col">
                    <input nz-input formControlName="nombreCliente" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Servicio :
                </div>
                <div class="col">
                    <input nz-input formControlName="nombreServicio" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Fecha de Habilitacion:
                </div>
                <div class="col">
                    <nz-date-picker [nzDisabledDate]="disabledDate" formControlName="fechaSelectedHabilitacion" (ngModelChange)="onChange2($event)"></nz-date-picker>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <button nz-button nzType="primary" [disabled]="habilitadoButton" (click)="habilitarSigSesion()">Generar Siguiente Sesion</button>
                </div>
            </div>
        </div>

        <div class="container" *ngIf="isProgramarSesion">
            <hr><br>
            <p>Se programara la sesion {{sesionNroSelected}}</p>
            <!-- <div class="row mb-4">
                <div class="col">
                    <button nz-button nzType="primary" [disabled]="habilitadoButton" (click)="habilitarSigSesion()">Generar Siguiente Sesion</button>
                </div>
            </div> -->

            <div class="row mb-4">
                <div class="col-sm-3">
                    Cliente :
                </div>
                <div class="col">
                    <input nz-input formControlName="nombreCliente" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Servicio :
                </div>
                <div class="col">
                    <input nz-input formControlName="nombreServicio" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Especialista :
                </div>
                <div class="col">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="trabajador">
                        <nz-option *ngFor="let item of listaTrabajadores" nzLabel="{{item.Nombres}} {{item.Apellidos}}" nzValue="{{item.UsuarioID}}"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Fecha :
                </div>
                <div class="col">
                    <nz-date-picker [nzDisabledDate]="disabledDate" formControlName="fechaSelected" (ngModelChange)="onChange($event)"></nz-date-picker>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-3">
                    Rango Horario :
                </div>
                <div class="col">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Hora Inicio" formControlName="horaInicio" (ngModelChange)="horaInicioChange($event)">
                        <nz-option *ngFor="let item of listaHorarioInicio" nzLabel="{{item.value}}" nzValue="{{item.id}}" nzDisabled="{{item.disabled}}"></nz-option>
                    </nz-select>
                </div>
                <div class="col">
                    <input nz-input formControlName="horaFin" nzPlaceHolder="Hora Fin" />
                </div>
                <div class="col">
                    <button nz-button nzType="primary" [disabled]="programado" (click)="programarSesionClick()">Programar Sesion</button>
                </div>
            </div>
        </div>
    </form>
</modal-body>