#contenedor {
    padding: 20px;
}

p {
    color: red;
}

mat-form-field {
    width: 100%;
}

#header {
    h3 {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }
}

#card {
    width: 100%;
    height: 300px;
}

.fecha {
    line-height: 40px;
    font-weight: 700;
    text-transform: capitalize;
}

.center-button {
    text-align: center;
}

.margin-button {
    margin-left: 15px;
}