<div id="contenedor">
    <div id="header">
        <h3 *ngIf="tipo === 1">Nueva Cita</h3>
        <h3 *ngIf="tipo === 2">Reprogramar Cita</h3>
        <hr>
    </div>


    <div id="contenido">
        <form [formGroup]="formReserva">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <mat-form-field>
                        <mat-label>Cliente</mat-label>
                        <mat-select formControlName="cliente" *ngIf="tipo === 2">
                            <mat-option *ngFor="let item of listaCliente" [value]="item.ClienteID">{{ item.Nombres }} {{ item.Apellidos }}</mat-option>
                        </mat-select>
                        <input *ngIf="tipo === 1" type="text" placeholder="Escriba Nombre Cliente" aria-label="Nombre Cliente" matInput formControlName="termino" [matAutocomplete]="auto" (input)="buscarCoincidencia(termino)">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="opcionSeleccionada($event)">
                            <mat-option *ngFor="let item of listaClienteFind" [value]="item.Nombres+' '+item.Apellidos" (click)="optionSelected(item)">
                                {{item.Nombres}} {{item.Apellidos}}
                            </mat-option>
                            <!-- <mat-option *ngIf="listaCliente.length===0 && termino.trim().length >0">
                                No se encuentra ningun valor
                            </mat-option> -->
                        </mat-autocomplete>
                    </mat-form-field>
                    <div *ngIf="tipo === 1">
                        <span nz-icon nzType="user-add" nzTheme="outline"><i-feather name="user-plus" style="width: 19px;" (click)="agregarCliente()"></i-feather></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <mat-form-field>
                        <mat-label>Servicio</mat-label>
                        <mat-select formControlName="servicio" (selectionChange)="cambioServicio($event.value)">
                            <mat-option *ngFor="let item of listaServicios" [value]="item.ServicioID">{{ item.Nombre }} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-card id="card">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <div *ngIf="tipo === 1">
                            <mat-label class="fecha">{{ fechaSeleccionada }}</mat-label>
                            <!-- <mat-form-field>
                                <mat-label>Día</mat-label>
                                <input matInput formControlName="dia" [matDatepicker]="dp" readonly>
                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp></mat-datepicker>
                            </mat-form-field> -->
                        </div>
                        <div *ngIf="tipo === 2">
                            <mat-form-field>
                                <mat-label>Día</mat-label>
                                <input matInput formControlName="dia" [matDatepicker]="dp" readonly>
                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <mat-form-field>
                            <mat-label>Personal</mat-label>
                            <mat-select formControlName="personal" (selectionChange)="cambioPersonal($event.value)">
                                <mat-option *ngFor="let item of listaPersonal" [value]="item.UsuarioID">{{ item.Nombres }} {{ item.Apellidos }} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <br>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <mat-form-field>
                            <mat-label>Hora Inicio</mat-label>
                            <mat-select formControlName="horaInicio" (selectionChange)="cambioHoraInicio($event.value)">
                                <mat-option *ngFor="let item of listaHorarioInicio" [value]="item.id" [disabled]="item.disabled">{{ item.value }} {{ item.Apellidos }} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <mat-form-field>
                            <mat-label>Hora Fin</mat-label>
                            <input matInput formControlName="horaFin" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <br>

                <div class="center-button">
                    <button *ngIf="tipo === 1" mat-raised-button color="primary" (click)="generarCitaWeb()">Registrar</button>
                    <button *ngIf="tipo === 2" mat-raised-button color="accent" (click)="generarCitaWeb()">Reprogramar Cita</button>
                    <button *ngIf="tipo === 2" mat-raised-button color="warn" (click)="cancelarCita()" class="margin-button">Cancelar Cita</button>

                </div>


            </mat-card>
        </form>


    </div>
</div>