@import 'src/assets/scss/mixins.scss';;

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: rem(20);

  &:last-child {
    margin-bottom: 0;

    .itemSeparator {
      &::before {
        bottom: 0;
      }
    }
  }
}

.itemTime {
  line-height: 1;
  font-size: rem(18);
  font-weight: 700;
}

.itemSeparator {
  flex-shrink: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: rem(4);
    top: rem(24);
    left: rem(6);
    bottom: rem(-14);
    background-color: $gray-2;
    border-radius: 2px;
  }
}

.donut {
  display: inline-block;
  width: rem(16);
  height: rem(16);
  border-radius: 100%;
  border: 4px solid $default;
  position: relative;
  top: rem(2);
  margin-right: rem(4);

  &.md {
    width: rem(26);
    height: rem(26);
  }
  &.default {
    border-color: $default;
  }
  &.primary {
    border-color: $primary;
  }
  &.secondary {
    border-color: $secondary;
  }
  &.success {
    border-color: $success;
  }
  &.warning {
    border-color: $warning;
  }
  &.danger {
    border-color: $danger;
  }
  &.info {
    border-color: $info;
  }
  &.yellow {
    border-color: $yellow;
  }
  &.orange {
    border-color: $orange;
  }
  &.gray2 {
    border-color: $gray-2;
  }
}

// dark theme
:host-context([data-kit-theme='dark']) {
  .itemSeparator {
    &:before {
      background: $dark-gray-4;
    }
  }
}
