<modal-body>
    <div title>Agregar Rol</div>
    <form body [formGroup]="formularioGroup" class="mx-4">
        <div>
            <h3>Descripcion de Rol</h3>
            <input placeholder="Descripcion de rol" formControlName="descripcion" class="form-control">
        </div>
    </form>
    <button action-button class="btn btn-primary" mat-flat-button [disabled]="formularioGroup.invalid || formularioGroup.disabled" (click)="registrarRol()">Guardar</button>
</modal-body>