<modal-body>
  <div title>Editar Turnos de {{data.data1.Nombres | uppercase}} - {{data.data1.Apellidos|uppercase}}
    {{data.data2?.HoraInicio|date:'EEEE - dd, MMMM'}}</div>
  <div body>
    <div class="container">
      <form [formGroup]="grupoHorarios" (submit)="onSubmit(grupoHorarios)">
        <div class="form-group">
          <div formArrayName="horaInicioFin">
            <div *ngFor="let item of getHorarios.controls; let pointIndex = index" [formGroupName]="pointIndex">
              <div class="row">
                <div class="col-sm-2">
                  <span></span><br>
                  <b>
                    TURNO {{pointIndex+1}} :
                  </b>
                </div>
                <div class="col-sm-3">
                  <span><b>Hora Inicio: </b></span><br>
                  <nz-time-picker formControlName="horaInicio" nzSize="large" [nzMinuteStep]="15"
                    [nzDisabledHours]="disableHours" nzPlaceHolder="Hora inicio" nzFormat="HH:mm"
                    [nzAddOn]="addOnTemplate" #timePicker [nzStatus]="error">
                  </nz-time-picker>
                  <ng-template #addOnTemplate>
                    <button nz-button nzSize="small" nzType="primary" (click)="timePicker.close()">Ok</button>
                  </ng-template>
                </div>
                <div class="col-sm-3">
                  <span><b>Hora Fin: </b></span><br>
                  <nz-time-picker formControlName="horaFin" nzSize="large" [nzMinuteStep]="15"
                    [nzDisabledHours]="disableHours" nzPlaceHolder="Hora fin" nzFormat="HH:mm"
                    [nzAddOn]="addOnTemplate1" #timePicker1>
                  </nz-time-picker>
                  <ng-template #addOnTemplate1>
                    <button nz-button nzSize="small" nzType="primary" (click)="timePicker1.close()">Ok</button>
                  </ng-template>
                  <!-- <ng-container *ngIf="grupoHorarios.get('horaFin').dirty">
                    <mat-error *ngIf="grupoHorarios.get('horaFin').hasError('required')">Ingrese fecha valida</mat-error>
                  </ng-container> -->
                </div>
                <div class="col-sm-1">
                  <br>
                  <button class="btn btn-danger" matTooltip="Quitar Turno" (click)="removeTurno(pointIndex)">
                    <i-feather class="btn-icon" name="trash-2"></i-feather>
                  </button>
                </div>
                <div class="col-sm-2">
                  <span>Validacion </span><br>
                  <input readonly="true" nz-input formControlName="validate"  nzCompact="true" nzSize="large"/>
                </div>
                <!-- <div class="col-sm-3">

                </div> -->
              </div>
              <br><br>
            </div>
            <hr>
            <div style="display: flex; justify-content: center;">
              <button type="button" class="btn btn-primary" matTooltip="Agregar Turno" (click)="addHorario()">
                Agregar turno &nbsp;
                <i-feather class="btn-icon" name="plus-circle"></i-feather>
              </button>
            </div>
            <!-- <div style="display: flex; justify-content: center;">
              <button type="button" class="btn btn-primary" matTooltip="Agregar Turno" (click)="validarTurnos()">
                Validar Turnos
                <i-feather class="btn-icon" name="plus-circle"></i-feather>
              </button>
            </div> -->
          </div>
        </div>
        <hr>
        <div style="display: flex; justify-content: center;">
          <button type="submit" class="btn btn-primary" mat-flat-button>Guardar Turnos</button>
        </div>
      </form>
    </div>
  </div>
  <!-- <button action-button class="btn btn-primary" mat-flat-button>Guardar</button> -->
  <!-- <button type="submit" class="btn btn-primary" mat-flat-button>Guardar</button> -->
</modal-body>