<form [formGroup]="formEncuesta">
    <div class="card">
        <div class="row m-4 align-items-center">
            <div class="col-md-6">
                <h2>Titulo del Formulario</h2>
                <input type="text" placeholder="Ingrese un titulo para el formulario" formControlName="titulo"
                    class="form-control">
            </div>
            <div class="col-md-4">
                <h2>Fecha de Encuesta</h2>
                <nz-range-picker formControlName="fecha"></nz-range-picker>
            </div>
            <section class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                <button mat-mini-fab color="undefined" (click)="addPregunta()">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
                <button class="btn btn-primary" mat-flat-button [disabled]="formEncuesta.invalid" (click)="!!encuestaId ? '' : enviarFormulario()">
                    {{!!encuestaId ? 'Actualizar' : 'Guardar'}}
                </button>
            </section>
        </div>
    </div>
    <div formArrayName="preguntas" class="overflow-auto pr-3" style="height: 70vh;" cdkDropList
        (cdkDropListDropped)="drop($event)" [cdkDropListData]="preguntasForm.controls">
        <section class="card my-4" *ngFor="let item of preguntasForm.controls; let first = first; let i = index"
            [formGroup]="item">
            <app-pregunta-encuesta [index]="i" [formPregunta]="item" [idShow]="show" (delete)="deletePregunta($event)"
                (duplicate)="duplicatePregunta($event)" (show)="show = $event" cdkDrag></app-pregunta-encuesta>
        </section>
    </div>
</form>