<div class="row align-items-center my-2 mb-4" style="margin: 15px; background-color: white;"
    *ngFor="let item of respuestaArr; let index = index">
    <ng-container [ngSwitch]="tipo">
        <ng-container *ngSwitchCase="2">
            <label nz-radio class="mb-0" nzDisabled></label>
            <input type="text" class="form-control col-sm-4" disabled [value]="item.Opcion">
            <label class="ml-3">{{item.Cantidad + '/' + totalMarcas}} </label>
        </ng-container>
        <ng-container *ngSwitchCase="3">
            <label class="kit__utils__control kit__utils__control__checkbox mb-0">
                <input type="checkbox" disabled checked>
                <span class="kit__utils__control__indicator"></span>
            </label>
            <input type="text" class="form-control col-sm-4" [value]="item.Opcion" disabled>
            <label class="ml-3">{{item.Cantidad + '/' + totalMarcas}} </label>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <input type="text" class="form-control col-sm-4 ml-4" disabled placeholder="Respuesta escrita">
        </ng-container>
    </ng-container>
</div>