<div class="cui__menuLeft">
    <div class="cui__menuLeft__mobileTrigger"><span></span></div>
    <div class="cui__menuLeft__trigger"></div>
    <div class="cui__menuLeft__outer border-right">
        <div class="cui__menuLeft__logo__container">
            <div class="cui__menuLeft__logo">
                <img src="../../../assets/images/logo.png" class="mr-2" alt="Clean UI" style="width:30px; height:30px " />
                <div class="cui__menuLeft__logo__name">Katia Spa</div>
                <!-- <div class="cui__menuLeft__logo__descr">Web Admin</div> -->
            </div>
        </div>
        <div class="cui__menuLeft__scroll kit__customScroll">
            <ul class="cui__menuLeft__navigation">
                <div *ngFor="let item of modulos">
                    <ng-container *ngIf="item.Tipo === 'Route'; else listaRutas">
                        <li class="cui__menuLeft__category"> Inicio </li>
                        <li class="cui__menuLeft__item">
                            <a class="cui__menuLeft__item__link" [routerLink]="['/',item.Ruta]" routerLinkActive="router-link-active">
                                <span class="cui__menuLeft__item__title">{{item.Titulo}}</span>
                                <i-feather class="cui__menuLeft__item__icon" [name]="item.Icono"></i-feather>
                            </a>
                        </li>
                    </ng-container>
                    <ng-template #listaRutas>
                        <li class="cui__menuLeft__category"> {{item.Titulo}} </li>
                        <li class="cui__menuLeft__item" *ngFor="let child of item.Children">
                            <a class="cui__menuLeft__item__link" [routerLink]="['/',item.Ruta,child.Ruta]" routerLinkActive="router-link-active">
                                <span class="cui__menuLeft__item__title">{{child.Titulo}}</span>
                                <i-feather class="cui__menuLeft__item__icon" [name]="child.Icono"></i-feather>
                            </a>
                        </li>
                    </ng-template>
                </div>
            </ul>

        </div>
    </div>
</div>