@import 'src/assets/scss/mixins.scss';;

.headerText {
  position: absolute;
  top: rem(40);
  left: rem(40);
  font-size: rem(32);
  line-height: rem(32);

  @media (max-width: $sm-max-width) {
    font-size: rem(30);
  }

  @media (max-width: $sm-max-width) {
    font-size: rem(26);
  }
}

.user {
  text-align: center;
  margin-top: rem(-47);
  position: relative;
  z-index: 1;
}
