    .fc .fc-toolbar-title {
        text-transform: uppercase !important;
    }
    
    #contenedor {
        padding: 10px;
        width: 90%;
        height: 50%;
    }
    
    #botonFlotante {
        float: right;
        position: absolute;
        bottom: 70px;
        right: 50px;
    }
    
    .icon-add {
        background-color: #595CA4;
        color: white;
    }
    .event-small {
        /* Estilos para eventos pequeños */
        font-size: 100px;
      }