<div class="row">
    <div class="col-xl-4">

        <div class="card mb-4 mb-xl-0">
            <div class="card-body text-center">

                <img class="img-account-profile rounded-circle mb-2"
                    src="{{clienteArreglo['Foto'] || 'assets/images/avatars/profile-1.png'}}" alt>

                <h2 class="text-dark mb-3 font-weight-bold">{{clienteArreglo['Nombres']}}
                    {{clienteArreglo['Apellidos']}}
                </h2>

                <div class="col-md-12 mb-3" style="text-align: left;">
                    <span>Correo Electrónico</span>
                    <h3 class="text-dark mb-1">{{clienteArreglo['Correo'] || '-'}}</h3>
                </div>

                <div class="col-md-12 mb-3" style="text-align: left;">
                    <span>Género</span>
                    <h3 class="text-dark mb-1">
                        {{clienteArreglo['Genero'] === true ? 'Hombre' : (clienteArreglo['Genero'] === false ? 'Mujer' :
                        '-')}}</h3>
                </div>

                <div class="col-md-12 mb-3" style="text-align: left;">
                    <span>Fecha de Nacimiento</span>
                    <h3 class="text-dark mb-1">{{clienteArreglo['FechaNacString'] || '-'}}
                    </h3>
                </div>

                <div class="col-md-12 mb-3" style="text-align: left;">
                    <span>Teléfono</span>
                    <h3 class="text-dark mb-1">{{clienteArreglo['Telefono'] || '-'}}</h3>
                </div>

                <div class="col-md-12 mb-3" style="text-align: left;">
                    <span>Dirección</span>
                    <h3 class="text-dark mb-1">{{clienteArreglo['Direccion'] || '-'}}</h3>
                </div>

                <div class="col-md-12 mb-3" style="text-align: left;">
                    <span>Fecha de Registro</span>
                    <h3 class="text-dark mb-1">
                        {{clienteArreglo['FechaRegistroString'] || '-'}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-8">

        <div class="card mb-4">
            <div class="card-body">
                <div class="row" style="text-align: center;">
                    <div class="col-md-3">
                        <h3 class="text-dark mb-1">{{citasInfo['TotalCitas'] || '-'}}</h3>
                        <span>Todas las reservas</span>
                    </div>
                    <div class="col-md-2">
                        <h3 class="text-dark mb-1">{{citasInfo['TotalCitasCompletadas'] || '-'}}</h3>
                        <span>Completado</span>
                    </div>
                    <div class="col-md-2">
                        <h3 class="text-dark mb-1">{{citasInfo['TotalCitasCanceladas'] || '-'}}</h3>
                        <span>Cancelado</span>
                    </div>
                    <div class="col-md-2">
                        <h3 class="text-dark mb-1" style="color: red !important;">{{citasInfo['TotalInasistencias'] ||
                            '-'}}</h3>
                        <span>No asistencias</span>
                    </div>
                    <div class="col-md-3">
                        <h3 class="text-dark mb-1">{{citasInfo['TotalEncuestas'] || '-'}}</h3>
                        <span>Encuestas Respondidas</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
                    <mat-tab label="Citas">
                        <hr class="mt-0 mb-4">

                        <ng-container *ngIf="citasArreglo.length > 0; else noData">
                            <div *ngFor="let item of citasArreglo">
                                <div class="d-flex align-items-center justify-content-between px-4">
                                    <div class="d-flex align-items-center">
                                        <img class="img-service rounded-circle mb-2"
                                            src="{{item.Servicio.Foto || 'assets/images/avatars/profile-1.png'}}" alt>

                                        <div class="ms-4">
                                            <div class="text-xs text-muted">N° de Cita: {{item.Cita.CitaID }}</div>
                                            <div class="small">{{item.Servicio.Nombre}}</div>
                                            <div class="text-xs text-muted">
                                                {{item.Servicio.CategoriaServicio.Descripcion}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ms-4 small">
                                        <div class=""> {{item.Cita.EstadoString}} </div>
                                        <div class=""> Duración: {{item.Servicio.DetalleServicio.Duracion}} min</div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </ng-container>
                        <ng-template #noData>
                            <div style="text-align: center;">
                                <img src="assets/images/no_data.svg" class="img-fluid my-5"
                                    style="width: 30% !important;">
                            </div>
                        </ng-template>
                    </mat-tab>

                    <!-- <mat-tab label="Encuestas Respondidas">Works!</mat-tab> -->

                </mat-tab-group>

            </div>
        </div>

    </div>

</div>