<modal-body>
    <div title>Gestionar Password {{data.nombre}}</div>
    <form body class="mx-4">
        <div class="row">
            <div class="col-md-6 my-3" style="display: grid;">
                <button class="btn btn-primary" mat-flat-button (click)="mostrarForm()" color="primary">Cambiar Contraseña</button>
            </div>
            <div class="col-md-6 my-3" style="display: grid;">
                <button class="btn btn-primary" mat-flat-button (click)="enviarPassword()" color="primary">Enviar Contraseña</button>
            </div>
        </div>
        <div>
            <ng-contariner *ngIf="flag==true">
                <form body [formGroup]="formularioGroup" class="mx-4">
                    <div class="form-group">
                        <h3>Nombre Usuario</h3>
                        <input readonly formControlName="nombre" class="form-control" value="{{data.nombre}}">
                    </div>
                    <div class="form-group">
                        <h3>Nueva Contraseña</h3>
                        <input type="password" placeholder="Contraseña Nueva" formControlName="password" class="form-control" autocomplete="new-password">
                    </div>
                </form>
                <div class="mb-5">
                    <button class="btn btn-primary" mat-flat-button (click)="editarPassword()" color="primary">Cambiar Contraseña</button>
                </div>
            </ng-contariner>
        </div>

    </form>



</modal-body>