<modal-body>
    <div title>Editar Rol</div>
    <form body [formGroup]="formularioGroup" class="mx-4">
        <div class="form-group">
            <h3>Nombre Categoria Servicio</h3>
            <input placeholder="Descripción" formControlName="descripcion" class="form-control">
        </div>
    </form>
    <button class="btn btn-primary" action-button mat-flat-button [disabled]="formularioGroup.invalid || formularioGroup.disabled" (click)="editarRol()">Guardar</button>
</modal-body>