.full-star, .half-star {
  color: gold;
  font-size: 24px;
}

.half-star {
  position: relative;
  color: gold;
}

.half-star::before {
  content: '★';
  position: absolute;
  overflow: hidden;
  width: 50%; /* La mitad de la estrella */
  color: transparent; /* Oculta la mitad superior de la estrella */
}