<span *ngFor="let star of arrayLength(fullStars)" class="full-star">
    <svg height="24" width="24" viewBox="0 0 24 24">
        <polygon points="12,2 15.09,8.36 22,9.36 17,14.24 18.18,22 12,18.36 5.82,22 7,14.24 2,9.36 8.91,8.36" style="fill:gold;"/>
      </svg>
      
</span>
<svg *ngIf="halfStar" height="24" width="24" viewBox="0 0 24 24">
  <defs>
    <linearGradient id="g" x1="0" y1="0" x2="1" y2="0">
      <stop id="stop1" stop-color="gold" offset="0.5"/>
      <stop id="stop2" stop-color="transparent" offset="0.5"/>
    </linearGradient>
  </defs>
  <polygon points="12,2 15.09,8.36 22,9.36 17,14.24 18.18,22 12,18.36 5.82,22 7,14.24 2,9.36 8.91,8.36" style="fill:url(#g)"/>
</svg>
