/* You can add global styles to this file, and also import other style files */
@import './assets/scss//kit/vendors/antd/style';
@import './assets/scss/kit/vendors/bootstrap/style';
@import './assets/scss/kit/vendors/nprogress/style';
@import './assets/scss/kit/vendors/chartist/style';
@import './assets/scss/kit/vendors/chartist-tooltip-plugin/style';
@import './assets/scss/kit/vendors/perfect-scrollbar/style';
@import './assets/scss/kit/vendors/nestable/style';
@import './assets/scss/kit/vendors/quill/style';

@import './assets/scss/kit/core/style'; // Clean UI KIT core styles
@import './assets/scss/cleanui/styles/style'; // Clean UI styles
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

a {
    color:  #4b7cf3 !important;
}

body {
    color                : #595c97;
    padding              : 0;
    margin               : 0;
    position             : relative;
    font-size            : 1rem;
    overflow-x           : hidden;
    line-height          : 1.5;
    font-family          : var(--kit-font-family);
    font-variant         : normal;
    font-feature-settings: normal;
}

:root {
    --kit-color-primary: #4b7cf3;
    --kit-font-family: 'Mukta', sans-serif;
}

ul {
    list-style-type: none;
}

.btn-icon {
    width : 14px !important;
    height: 14px !important;
}

input {
    margin               : 0;
    padding              : 0;
    font-variant         : tabular-nums;
    list-style           : none;
    font-feature-settings: 'tnum';
    position             : relative;
    display              : inline-block;
    width                : 100%;
    min-width            : 0;
    padding              : 4px 11px;
    color                : #595c97;
    font-size            : 14px;
    line-height          : 1.5715;
    background-color     : #ffffff;
    background-image     : none;
    border               : 1px solid #e4e9f0;
    border-radius        : 2px;
    transition           : all 0.3s;
}

mat-dialog-container {
    padding: 0 !important;
}

/* ScrollBar  */

::-webkit-scrollbar {
    /* height: 13px; */
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #f5f5f5;
    box-shadow: 0 0 2px rgba(0,0,0, .2) inset;
}
::-webkit-scrollbar-thumb {
    background: #4b7cf3;
    border-radius: 8px;
    border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
    background: #233752;
}