<nz-drawer [nzClosable]="false" [nzVisible]="true" nzPlacement="right" [nzTitle]="labelPago" [nzWidth]="500" (nzOnClose)="close()">
    <form [formGroup]="formularioGroup" class="mx-4">
        <div class="form-group">
            <h3>Nombres de Cliente</h3>
            <input formControlName="nombreCliente" class="form-control">
        </div>

        <div class="form-group">
            <h3>Servicio</h3>
            <input formControlName="nombreServicio" class="form-control">
        </div>

        <div class="form-group">
            <h3>Tipo de Pago</h3>
            <select class="form-control" aria-placeholder="Seleccione una opción" formControlName="tipoPago">
                <option value="" selected>Seleccionar Metodo de Pago</option>
                <option value="0">Efectivo</option>
                <option value="1">Tarjeta de Debito</option>
                <option value="2">Tarjeta de Credito</option>
                <option value="3">Transferencia</option>
            </select>
        </div>
        <div class="form-group">
            <h3>Monto a Pagar</h3>
            <input formControlName="monto" class="form-control">
        </div>
        <div class="form-group">
            <p *ngIf="importe!=0"><b>(*)IMPORTE TOTAL: {{importe}}</b></p>
            <p *ngIf="montoIgv!=0"><b>(*)IGV: {{montoIgv}}</b></p>
        </div>
        <div class="form-group col-12">
            <button class="btn btn-primary mr-3" (click)="registrarPago()" [disabled]="bottonDisabled">Guardar Pago
                <i-feather class="btn-icon" name="dollar-sign" ></i-feather>
            </button>
            <button class="btn btn-danger mr-3" (click)="close()">Cerrar
                <i-feather class="btn-icon" name="x"></i-feather>
            </button>
        </div>

    </form>
</nz-drawer>