<div class="card">
    <div class="row m-4 align-items-center">
        <div class="col-md-6">
            <h2>Titulo del Formulario</h2>
            <input type="text" placeholder="Ingrese un titulo para el formulario" [(ngModel)]="titulo" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <h2>Fecha de Encuesta</h2>
            <nz-range-picker [(ngModel)]="fechaRango" disabled></nz-range-picker>
        </div>
        <div class="col-md-2">
            <h2>Fecha de Registro</h2>
            <nz-date-picker [(ngModel)]="fechaRegistro" disabled></nz-date-picker>
        </div>
    </div>
</div>